
@import 'nib'

/*
 * Fonts!
 */

@font-face
    font-family 'chunkfiveregular'
    src url('fonts/Chunkfive-webfont.eot')
    src url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chunkfive-webfont.woff') format('woff'),
        url('fonts/Chunkfive-webfont.ttf') format('truetype'),
        url('fonts/Chunkfive-webfont.svg#chunkfiveregular') format('svg');
    font-weight normal
    font-style normal

/*
 * Main color palette
 */

primary_green = #49F000
primary_orange = #FF9700
background_creme = #FFFAF0
foreground_brown = #3B2C00
foreground_green = #133D00

/*
 * Useful constants
 */

header_title_font_size = 80
header_title_font_size_px = (header_title_font_size)px
header_title_margin_size = ((100 - header_title_font_size) / 2)
header_title_margin_size_px = (header_title_margin_size)px

header_link_font_size = 20
header_link_font_size_px = (header_link_font_size)px
header_link_margin_size = ((94 - header_link_font_size) / 2)
header_link_margin_size_px = (header_link_margin_size)px

/*
 * Style mixins
 */

solid-circle-div(radius, bg_color)
    -webkit-border-radius 999px
    -moz-border-radius 999px
    border-radius 999px
    width radius
    height radius
    background bg_color

outline-circle-div(radius, bg_color, border_thickness, border_color)
    solid-circle-div(radius, bg_color)
    border border_thickness solid border_color

body
    padding 40px 0
    font-family Georgia
    background background_creme
    color foreground_brown

#content-header
    .header-section
        font-family 'chunkfiveregular'
        min-height 100px
        margin-top 10px
        margin-bottom 10px
        text-align center

        .header-link
            outline-circle-div(94px, foreground_brown, 3px, primary_orange)
            margin 0px auto
            float left

            .header-link-stripe
                height header_link_font_size_px
                font-size header_link_font_size_px
                margin header_link_margin_size_px 0px

                a
                    color background_creme
                    text-decoration none

    #eyebrausr-title
        font-size header_title_font_size_px

        .eyebrausr-text
            margin-top header_link_margin_size_px
            margin-bottom header_link_margin_size_px


#content-body
    height 800px

#content-footer
    .footer-section
        text-align center

        .footer-link
            width (100 / 3)%
            float left
