
extend templates/page

block content
    #index-content.container
        #content-header.content.sixteens.columns.row
            #eyebrausr-title.header-section.ten.columns.alpha
                .eyebrausr-text
                    span eyebrausr.
            #site-nav.header-section.six.columns.omega
                #site-nav-alpha.two.columns.alpha
                    #blog-link.header-link
                        .header-link-stripe
                            a(href='/ramblings') Blog
                #site-nav-beta.two.columns.alpha
                    #resume-link.header-link
                        .header-link-stripe
                            a(href='/resume') Resume
                #site-nav-gamma.two.columns.alpha
                    #project-link.header-link
                        .header-link-stripe
                            a(href='/projects') Projects
        #content-body.content.sixteen.columns.row
            #bio-section.body-section.ten.columns.alpha
                include includes/bio
        #content-footer.content.sixteen.columns.row
            #links.footer-section.six.columns
                #github.footer-link
                    a(href='#{links.github}') Github
                #linkedin.footer-link
                    a(href='#{links.linkedin}') LinkedIn
                #twitter.footer-link
                    a(href='#{links.twitter}') Twitter