
if page_title
    title eyebrausr :: #{page_title}
else
    title eyebrausr
link(rel='stylesheet', href='/stylesheets/skeleton/base.css')
link(rel='stylesheet', href='/stylesheets/skeleton/skeleton.css')
link(rel='stylesheet', href='/stylesheets/skeleton/layout.css')
link(rel='stylesheet', href='/stylesheets/style.css')